body{
    cursor: none;
}

.custom-cursor {
    position: absolute;
    background-color: #ffffff00;
    background-image: url(../assets/img/icons/pokeball.png);
    height: 50px;
    width: 50px;
    background-size: cover;
    pointer-events: none;
    z-index: 10;
}

.bg-video {
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    display: flex;
    margin-left: 30%;
    justify-content: left;
}

.bg-video .video {
    height: 110vh;
    z-index: -2;
}

.bg-video::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 50;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 1) 100%
    );
}

.container {
    position: relative;
    z-index: 3;
    display: flex;
    height: 100vh;
}

.container__left {
    width: 35%;
    min-width: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.frame {
    border: 3px solid #000;
    border-radius: 5px;
}

.score_box {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    text-align: center;
}

.card_details {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    width: 100%;
}

#card-name {
    font-size: 0.8rem;
}

#card-type {
    font-size: 1rem;
}

.container__right {
    width: 65%;
}

.cardbox__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.3rem;
}

.card-versus__container {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    height: 300px;
    justify-items: center;
    align-content: center;
}

.versus-top, .versus-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.versus-bottom {
    margin-bottom: 0.5rem;
}

#next-duel {
    display: none;
}

.card-box {
    height: 9rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.card-infield {
    position: relative;
    margin: 0.2rem;
    height: 11.2rem;
    width: 8rem;
    border: 1px solid #fff;
    border-radius: 90%;
    background: rgba(179, 248, 250, 0.4);
    display: flex;
    flex-direction: column;
}

.field {
    position: absolute;
    content: "";
    height: 40px;
    width: 8rem;
    background: gold;
    border: 1px solid darkgoldenrod;
    border-radius: 50%;
    z-index: 2;
    margin-top: 100%;
    
}

img#player-field-card, img#computer-field-card {
    position: absolute;
    width: 100%;
    height: max-content;
    margin-top: 10%;
    z-index: 4;
}

img#computer-field-card {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

}

#card-type {
    text-align: center;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.2);
}

.menu_avatar {
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#card-image {
   height: 40vh;
}

.debug {
    border: 1px solid blue;
}